* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f8f8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #383737;
  color: #fff;
}

.navbar a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

/* Hero */
.hero {
  height: 60vh;
  background: linear-gradient(120deg, #000, #222);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero img{
  width: 100%;
  height: 80%;
  padding-top: 20px;
  display: flex;
}

/* Products */
.products {
  padding: 50px;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.product-card img {
  width: 100%;
  border-radius: 5px;
  height: 300px;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
