.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #383737;
  color: #fff;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}
.navbar-links a{
  text-decoration: none;
  color: white;
}
.navbar-menu-icon {
    display: none;
}
/*side_navbar*/
.side_navbar{
    background-color:rgb(1, 1, 24);
    position: fixed;
    width: 40%;
    height: 100%;
    padding: 20px;
    top: 0%;
    left: -50%;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
    z-index: 5;
}
.side_navbar-link{
    margin-bottom: 20px;
}
.side_navbar-link a{
    text-decoration: none;
    color: white;
}
.side_navbar-link a:hover{
    text-decoration: underline;
}
/* model container */
.model_container{
  margin-top: px;
  background-color: rgb(172, 167, 167);
}
.model_search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}
.model{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  
}
.model input{
  padding: 10px;
  width: 100%;
  max-width: 900px;   /* Ithu dhan size control */
  border-radius: 8px;
  border: 1px solid black;
  font-size: 15px;    /* Text perusa */
  position: relative;
}

.model i{
  color: #333;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.models_name{
display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.models_name div{
  background-color: rgb(241, 232, 232);
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(30, 30, 107, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.models_name div a{
    text-decoration: none;
    color: black;
}
.models_name div a:hover{
    text-decoration: underline;
}
/*footer*/
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
/* media */
@media screen and (max-width: 600px) {

  .navbar-menu-icon {
      display: block;
  }

  .navbar-links{
      display: none;
  }

  .model{
      flex-direction: column;
      gap:0px;
      padding:9px;
  }

  .model input{
    max-width: 100%;
    font-size: 20px;
    padding: 10px;
  }

  .models_name{
      grid-template-columns: repeat(2, 1fr);
  }

  .models_name div{
      width: 90%;
  }
}
