.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #383737;
  color: #fff;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}
.navbar-links a{
  text-decoration: none;
  color: white;
}
.navbar-menu-icon {
    display: none;
}
/*side_navbar*/
.side_navbar{
    background-color:rgb(1, 1, 24);
    position: fixed;
    width: 40%;
    height: 100%;
    padding: 20px;
    top: 0%;
    left: -50%;
    border-radius: 10px;
    color: white;
    transition: 0.4s;
}
.side_navbar-link{
    margin-bottom: 20px;
}
.side_navbar-link a{
    text-decoration: none;
    color: white;
}
.side_navbar-link a:hover{
    text-decoration: underline;
}
.logo {
  font-weight: bold;
  font-size: 22px;
}
.collection{
    display: inline;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background: #fff;
}

.filters select {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* product */
.products{
  padding: 50px;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-card img {
  width: 100%;
  border-radius: 5px;
  height: 300px;
}
.product-card:hover {
  transform: translateY(-5px);
}

.collection-hero {
  background: #111;
  color: white;
  text-align: center;
  padding: 60px 20px;
}


.price {
  font-weight: bold;
  margin: 10px 0;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  text-align: left;
}

.footer-logo h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 8px;
  
}
.contact-info {
  margin-top: 10px;
  text-wrap: wrap;
}
.fa-solid, .fa-brands {
  margin-right: 8px;
} 
.fa-brands.fa-instagram {
  color: #E1306C;
}
.fa-brands.fa-whatsapp {
  color: #25D366;
}
.fa-brands.fa-location-dot {
  color: #FF0000;
}
.fa-brands.fa-phone {
  color: #25D366;
}
.fa-brands.fa-envelope {
  color: #E1306C;
}
/* media */
@media screen and (max-width: 600px) {
    .navbar-menu-icon {
        display: block;
    }
    .navbar-links{
        display: none;
    }
     .footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer-logo h2 {
    margin: 0;
  }

  .footer-logo img {
    width: 120px;
    height: auto;
  }

  .contact-info {
    width: 100%;
  }
  }